@inject System.Net.Http.HttpClient Http

<h1>Cookie counter</h1>
<p>The server increments the count by one on each request.</p>
<p>TestServer base URL: <input bind="@testServerBaseUrl" /></p>
<button id="delete" onclick="@DeleteCookie" disabled="@requestInProgress">Delete cookie</button>
<button id="increment" onclick="@GetAndIncrementCounter" disabled="@requestInProgress">Get and increment current value</button>

@if (!requestInProgress)
{
    <p id="response-text">@responseText</p>
}

@functions
{
    bool requestInProgress = false;
    string testServerBaseUrl;
    string responseText;

    async Task DeleteCookie()
    {
        await DoRequest("api/cookie/reset");
        await Task.Delay(5000);
    }

    async Task GetAndIncrementCounter()
    {
        await DoRequest("api/cookie/increment");
        await Task.Delay(5000);
    }

    async Task DoRequest(string url)
    {
        requestInProgress = true;
        try
        {
            responseText = await Http.GetStringAsync(testServerBaseUrl + url);
        }
        finally
        {
            requestInProgress = false;
        }
    }
}
